<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<head>
<meta charset="utf-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,">
<title>General Application</title>
<meta name="description" content="Angular Application" />
<meta name="keywords" content="angular, web, developer, website, software, application" />
<meta name="robots" content="index, follow" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="shortcut icon" href="images/favicon.ico" /> 
<link rel="stylesheet" href="style.css" type="text/css" />
<script type="text/javascript" src="genapp.js"></script>


 <!-- Headers -->
<div class="section">
 <h1 class="padding">General Application</h1>
 <h2 class="padding"></h2>
 <h3 class="padding"></h3>
 <h4 class="padding"></h4>
</div>
<!-- /Headers-->
</head>
<body>
<!-- Headers -->
<br>
<br>
<br>
<!-- Application -->
<button class="big-btn">ON/OFF</button>
<br>
<br>
 <div ng-app="myGenApp" ng-controller="myGenCtrl" class="design">
 
<p hidden>Enter your information</p>
<br>
<br>
<p hidden>Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="name" placeholder="Enter name here"></p><br>
<p hidden>Last Name : <input type="text" ng-model="lastname" placeholder="Enter last name here"></p><br>
<p hidden>Country :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="country" placeholder="Enter country here"></p><br>

<p hidden>Hello {{name}} {{lastname}} 
<br>
<br>
    It must be nice to live in {{country}} </p>
<br>
<p hidden>
<button class="medium-btn" ng-click="save()">Save</button>
<button class="medium-btn " ng-click="clear()">Clear</button>
</p>
<script src="myGenApp.js"></script>
<script src="myGenCtrl.js"></script>
</div>
</body>
</html>
