/*Body*/
{ margin: 0; padding: 0; }
body{background: yellow;}
html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
/*Headers*/
#page-wrap { width: 50%; margin: 100px auto; }
/*h1, h2, h3, h4 p { margin: 20px 0; }*/
h1
{
color: #FFFFFF;
background-color:#FF0000;
text-align: left;
}
h1.padding
{
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}
h2
{
color: #FF0000;
background-color:#FF6600;
}
h2.padding
{
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}
h3
{
color: #FF0000;
background-color:#33CCFF;
}
h3.padding
{
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}
h4
{
color: #FF0000;
background-color:#9900FF;
}
h4.padding
{
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
padding-left:20px;
}
button{
color: #FF0000;  
background-color: #FF1493;
text-align: center;
padding-top:3px;
padding-bottom:3px;
padding-right:3px;
padding-left:3px;
}
